*{
    margin: 0;
    padding: 0;
  }
  section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff615d, #bad5ea, #fd8769, #356d94, #ffdcb3);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }
  @keyframes color{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100 50%;
    }
    10%{
      background-position: 0 50%;
    }
  }

  h1{
    color: black;
    font-size: 50px;
    font-family: georgia;
  }
  .error {
    color: #FF0000;
    font-size: 90%;
  }